Irony_2013_12_12/Irony.Tests/obj/
Irony_2013_12_12/Irony.Tests/
Irony_2013_12_12/Irony.Samples/
Irony_2013_12_12/Languages/
Irony_2013_12_12/Irony.GrammarExplorer/
Irony_2013_12_12/Irony.Interpreter/
bcc.net/obj/
Irony_2013_12_12/Irony/obj/
bcc.net/bin/
Irony_2013_12_12/Irony.Samples.Console/
Dasm/obj/
Dasm/bin/
Irony_2013_12_12/.hgignore
Irony_2013_12_12/.hgtags
Irony_2013_12_12/Libraries/
*.il
